---
import { Content } from "../content/about.md";
import Layout from "../layouts/Layout.astro";
import headshot from "../assets/headshot.jpg";
import "../styles/index.scss";
import { library, icon } from "@fortawesome/fontawesome-svg-core";
import {
  faOrcid,
  faLinkedin,
  faGoogleScholar,
  faGithub,
} from "@fortawesome/free-brands-svg-icons";

library.add(faOrcid, faGoogleScholar, faLinkedin, faGithub);
const orcidIcon = icon({ prefix: "fab", iconName: faOrcid.iconName });
const googleScholarIcon = icon({
  prefix: "fab",
  iconName: faGoogleScholar.iconName,
});
const linkedinIcon = icon({ prefix: "fab", iconName: faLinkedin.iconName });
const gitHubIcon = icon({ prefix: "fab", iconName: faGithub.iconName });
---

<Layout>
  <div class="container">
    <div class="headshot">
      <div class="frame-piece top"></div>
      <img src={headshot.src} alt="Teddy Zamborsky headshot" />
      <div class="frame-piece bottom"></div>
    </div>
    <Content />
    <div class="profiles">
      <a
        href="https://orcid.org/0009-0002-3849-6673"
        target="_blank"
        title="ORCID"
      >
        <Fragment set:html={orcidIcon?.html} />
      </a>
      <a
        href="https://scholar.google.com/citations?user=5doUO4EAAAAJ&hl=en"
        target="_blank"
        title="Google Scholar"
      >
        <Fragment set:html={googleScholarIcon?.html} />
      </a>
      <a
        href="https://www.linkedin.com/in/tzamborsky/"
        target="_blank"
        title="LinkedIn"
      >
        <Fragment set:html={linkedinIcon?.html} />
      </a>
      <a href="https://github.com/tzamboiv/" target="_blank" title="GitHub">
        <Fragment set:html={gitHubIcon?.html} />
      </a>
    </div>
  </div>
</Layout>

<style lang="scss">
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profiles {
    display: flex;
    flex-direction: row;
    height: 34px;
    gap: 17px;
    margin-top: 1rem;

    a {
      display: flex;
      color: var(--tertiaryAccent);
      transition: color 0.1s;
      &:hover {
        background: transparent;
        color: color-mix(in srgb, var(--tertiaryAccent) 90%, #000 10%);
        color: var(--primaryAccent);
      }
    }
  }
  .headshot {
    float: none;
    height: fit-content;
    position: relative;
    display: flex;
    margin-bottom: 1rem;
    width: clamp(200px, 30vw, 350px);
    container-type: inline-size;
  }
  img {
    object-fit: contain;
    width: 100%;
    border-radius: 10% 0 10% 0px;
    padding: 5cqw;
  }

  .frame-piece {
    width: 20%;
    height: 20%;
    position: absolute;
    --dot-frame-piece: clamp(5px, 3cqw, 10px) double var(--tertiaryAccent);
    --inner-frame-piece: clamp(3px, 2cqw, 8px) solid var(--primaryAccent);

    &:after {
      content: "";
      background: var(--primaryAccent);
      position: absolute;
      width: 14.125cqw;
      height: 14.125cqw;
      background: transparent;
    }

    &.top {
      top: 0;
      right: 0;
      border-top: var(--dot-frame-piece);
      border-right: var(--dot-frame-piece);

      &:after {
        top: 1cqw;
        right: 1cqw;
        border-top: var(--inner-frame-piece);
        border-right: var(--inner-frame-piece);
      }
    }

    &.bottom {
      bottom: 0;
      left: 0;
      border-bottom: var(--dot-frame-piece);
      border-left: var(--dot-frame-piece);

      &:after {
        left: 1cqw;
        bottom: 1cqw;
        border-bottom: var(--inner-frame-piece);
        border-left: var(--inner-frame-piece);
      }
    }
  }

  @media (min-width: 483px) {
    .container {
      display: block;
    }
    .headshot {
      float: right;
      margin: 4rem -9px 10px 10px;

      img {
        margin-top: -5cqw;
      }

      .frame-piece.top {
        margin-top: -5cqw;
      }
    }
  }
</style>
